@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;

}

body {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    background-color: darkgrey;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    filter: drop-shadow(10PX);
    padding: 16PX 9%;
}
.logo{
    cursor: pointer;
    transition: 0.5 ease;
    color: white;
}
.logo:hover{
    transform: scale(1.1);
}
nav a {
    margin-left: 20px;
    color: white;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}
nav a:hover{
    color: dark gray;
    border-bottom: 3px solid gray;
}
.home{
    min-height: 100vh;
    padding: 5rem 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color:rgb(75, 74, 74) ;
}

#about {
    background-color: red;
    height: 100vh;
    padding-top: 60px;
}